ul {
    list-style-type: none;
    display: table;
    width: 100%;
    border-collapse: separate;
    overflow: hidden;
    padding: 0px;
    float: center;
}

li {
    display: table-cell;
    float: center;
}

/* Hyperlink properties */
a:link { /* unvisited link */
    text-decoration: none; 
    background-color: lightgrey;
}

a:visited { /* visited link */
    text-decoration: none; 
    background-color: lightgray;
}

a:hover { /* when mouse is hovered over link */
    text-decoration: none;
    background-color: lightslategray;
}

a:active { /* when link is clicked */
    text-decoration: none;
    background-color: dimgrey;
}


/* align to center */

.center {
    margin: auto;
    padding: 0px;
}

li a {
    display: block;
    padding: 8px;
}

header {
    padding: 0px;
}