/**********************************************************
* Page Header properties
**********************************************************/

ul.headerMenu {
    list-style-type: none;
    display: table;
    width: 60%;
    border-collapse: separate;
    overflow: hidden;
    padding: 0px;
    float: center;
    margin: auto;
}

.headerContent {
    background-color: orangered;
}

/* Create header always on top and fixed on scroll */
.headerContent {
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 9999; /* make z-index too high so it stays always on top */
}

/* Create header always on top and fixed on scroll */
.footerContent {
    background-image: url("../images/trainingheader.jpg");
    text-align: center;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 9999; /* make z-index too high so it stays always on top */
}

/* Top menu button properties */

.mainMenuButton {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Tahoma;
    color: white;
}

/* Hyperlink properties */

a.mainMenuButton:link {
    /* unvisited link */
    text-decoration: none;
    background-color: green;
}

a.mainMenuButton:visited {
    /* visited link */
    text-decoration: none;
    background-color: green;
}

a.mainMenuButton:hover {
    /* when mouse is hovered over link */
    text-decoration: none;
    background-color: lightslategray;
}

a.mainMenuButton:active {
    /* when link is clicked */
    text-decoration: none;
    background-color: dimgrey;
}

li a {
    display: block;
    padding: 8px;
}

li.headerMenu {
    display: table-cell;
    float: center;
}

/****** End of page header properties **********/

/************************************************
* Properties defining page areas
************************************************/

.contentBlock {
    display: inline-block;
    width: 60%;
    padding: 1.2%;
    margin-top: 50px;
}

.adbars {
    display: inline-block;
    width: 18%;
    vertical-align: top;
    margin-top: 50px;
}


/****** End of page area properties ************/

blockquote {
    background-color: lightgrey;
}

/************************************************
* Style for images
************************************************/
.adbars img {
    width: 100%;
}


.trainingItems {
    display: inline-block;
    width: 30%;
}

.overlapCaptionFigure {
    display: table;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 2%;
}

/* make Caption overlapping to the image by positioning it 
* absolute to parent
*/
.overlapCaptionFigure .overlapContainer {
    position: relative;
    width:100%
}

.overlapCaptionFigure .overlapCaption {
    text-align: center;
    font-size: 1.5em;
    font-family: Tahoma;
    position: absolute;
    width: 100%;
    bottom: 1.5em;
    color: white;
    background-color: rgba(0,0,0, 0.5);
    border: 1px solid #ddd;
    display: table-caption;
}


/******* End of image styles *****/ 

/* header with image ground */
.articleContainer h1 {
    background: url("../images/trainingheader.jpg") left bottom;
    background-color: green;
    font-size: 2em;
    font-family: Tahoma; 
    color: white;
    height: 1.5em;
}

/* content para styling */
.contentBlock p {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



