ul {
    list-style-type: none;
}

li {
    float: left;
}


/* align to center */

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

li a {
    display: block;
    padding: 8px;
}

header {
    padding: 0px;
}