/**********************************************************
* Page Header properties
**********************************************************/

ul.headerMenu {
    list-style-type: none;
    display: table;
    border-collapse: separate;

    width: 40%;
    overflow: hidden;
    padding: 0px;
    float: right;
    margin: auto;
    margin-right: 5%;
}

.logo { 
    float: left;
    margin: auto;
    margin-left: 5%;
    padding: 0;
    
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.headerContent {
    background-color: black;
    padding: 1em;
}

/* Create header always on top and fixed on scroll */
.headerContent {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999; /* make z-index too high so it stays always on top */
}

/* Create header always on top and fixed on scroll */
.footerContent {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 9999; /* make z-index too high so it stays always on top */
}

/* Top menu button properties */

.mainMenuButton {
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

/* Hyperlink properties */

a.mainMenuButton:link {
    /* unvisited link */
    text-decoration: none;
    background-color: black;
}

a.mainMenuButton:visited {
    /* visited link */
    text-decoration: none;
    background-color: black;
}

a.mainMenuButton:hover {
    /* when mouse is hovered over link */
    text-decoration: none;
    background-color: black;
    color: lightgrey;
}

a.mainMenuButton:active {
    /* when link is clicked */
    text-decoration: none;
    background-color: dimgrey;
}


li.headerMenu {
    display: table-cell;
}


/****** End of page header properties **********/

/************************************************
* Properties defining page areas
************************************************/

.contentBlock {
    display: inline-block;
    position: absolute;
    left: 18%;
    right: 18%;
    width: 60%;
    padding: 1.2%;
    margin-top: 50px;
}

.adbars {
    display: inline-block;
    position: fixed;
    width: 18%;
    vertical-align: top;
    margin-top: 50px;
    z-index: 9899;
}

#leftAdBar {
    left: 0px;
}

#rightAdBar {
    right: 0px;
}


/****** End of page area properties ************/

blockquote {
    display:block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;

    /*Box Shadow*/
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}


/************************************************
* Style for images
************************************************/
.adbars img {
    width: 100%;
}


.trainingItems {
    display: inline-block;
    width: 30%;
}

.overlapCaptionFigure {
    display: table;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 2%;
}

/* make Caption overlapping to the image by positioning it 
* absolute to parent
*/
.overlapCaptionFigure .overlapContainer {
    position: relative;
    width:100%
}

.overlapCaptionFigure .overlapCaption {
    text-align: center;
    font-size: 1.5em;
    font-family: Tahoma;
    position: absolute;
    width: 100%;
    bottom: 1.5em;
    color: white;
    background-color: rgba(0,0,0, 0.5);
    border: 1px solid #ddd;
    display: table-caption;
}


/******* End of image styles *****/ 

/* header with image ground */
.articleContainer h1 {
    background: url("../images/trainingheader.jpg") left bottom;
    background-color: green;
    font-size: 2em;
    font-family: Tahoma; 
    color: white;
    height: 1.5em;
    
}

/* content para styling */
.contentBlock p {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



